@using BlazorTutorial.Models
 <div>
    @if (TitleFragment == null)
    {
        <h1>Student</h1>
    }
    else
    {
        @TitleFragment
    }

    @if (Item == null)
    {
        @if (NoDataFragment == null)
        {
            <p>Data unavailable</p>
        }
        else
        {
            @NoDataFragment
        }
    }
    else
    {
        <p>Name: @Item.Name</p>
        <p>ID: @Item.StudentId</p>
        <p>Email: @Item.Email</p>
    }
    @if (ShowButtons)
    {
        <div>
            <button @onclick="@(() => DeleteStudent.InvokeAsync(Item))">Borrar</button>
    </div>
    }

</div>

@code {
    [Parameter] public Student? Item { get; set; }

    [Parameter] public bool ShowButtons { get; set; }

    [Parameter] public EventCallback<Student> DeleteStudent { get; set; }

    [Parameter] public RenderFragment? NoDataFragment { get; set; }
    [Parameter] public RenderFragment? TitleFragment { get; set; }
}
