@using BlazorTutorial.Models
 <div>
    Student
    @if (Item == null)
    {
        <p>Data unavailable</p>
    }
    else
    {
        <p>Name: @Item.Name</p>
        <p>ID: @Item.StudentId</p>
        <p>Email: @Item.Email</p>
    }
    @if (ShowButtons)
    {
        <div>
            <button @onclick="Delete">Borrar</button>
    </div>
    }

</div>

@code {
    [Parameter] public Student? Item { get; set; }

    [Parameter] public bool ShowButtons { get; set; }


    void Delete()
    {
        Console.WriteLine($"DEleting {Item?.Name}");
    }
}
