@page "/students"
@using BlazorTutorial.Models
@using BlazorTutorial.CustomComponents.Students
<h3>Students</h3>
<PageTitle>Students</PageTitle>


<div>
    @if (StudentList == null)
    {
        <p>Loading students...</p>
    }
    else if (StudentList?.Count == 0)
    {
        <p>Empty list.</p>
    }
    else
    {
        <input type="checkbox" @bind="ShowButton"/>
        @foreach (var s in GetStudents())
        {
            <StudentItem Item="s" ShowButtons="ShowButton" />
        }
    }
    
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        StudentList = GetStudents();
    }

    public List<Student>? StudentList;
    public bool ShowButton { get; set; } = true;

    private List<Student> GetStudents() => new List<Student>()
        {
            new Student(){
            Name ="Raymundo",
            StudentId = 1421271,
            Email ="ray.esro@gmail.com"
            },
            new Student(){
            Name ="Angelica",
            StudentId = 1521272,
            Email ="angi.garcia@gmail.com"
            },
        };
}
